<h1>Hello</h1>
<app-scenario1></app-scenario1>
<hr/>
<app-scenario2></app-scenario2>
<hr/>
<h4>Parent Component</h4>
<input (keyup)="onKeyUp($event)">
<app-scenraio3 [showText]="inputText"></app-scenraio3>
<hr/>
<app-scenario4 (sendData)="getData($event)"></app-scenario4>
<h4>Parent Component</h4>
<p>{{caputreFromChild}}</p>

<h2>Scenario 5</h2>
<scenario5-parent (sendToGrandParent)="getFromParent($event)"></scenario5-parent>
<p>{{inputFromGrandChild}}</p>
<hr/>

<h2>Scenario 6</h2>
<app-scenario6></app-scenario6>